@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main: #1a1a1a;
  --secondary: #333333;
  --my-green: #81a3a7;
  --my-blue: #a7bcc7;
  --main-text: #f5f5f5;
  --second-text: #666666;
}

/* smartphones */
@media (max-width: 768px) {
  h1,
  h2,
  h3,
  p,
  button {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  @media (max-height: 750px) {
    #home {
      height: 90vh;
    }

    #profile {
      height: 140vh;
    }

    #about {
      height: 170vh;
    }

    #portfolio {
      height: 500vh;
    }
  }

  @media (min-height: 750px) {
    #home {
      height: 100vh;
    }

    #profile {
      height: 145vh;
    }

    #about {
      height: 130vh;
    }

    #portfolio {
      height: 500vh;
    }
  }
}

/*md*/
@media (min-width: 768px) {
  h1,
  h2,
  h3,
  p,
  button {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  #home,
  #about {
    height: 100vh;
  }

  #profile {
    height: 160vh;
  }

  #portfolio {
    height: 180vh;
  }
}

/*lg*/
@media (min-width: 1024px) {
  #home,
  #about {
    height: 100vh;
  }

  #profile {
    height: 100vh;
  }

  #portfolio {
    height: 150vh;
  }

  h3 {
    font-size: 3rem;
  }
}

/* Masquer la barre de défilement latérale*/
::-webkit-scrollbar {
  width: 0rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

html {
  scrollbar-width: none;
  overflow-x: hidden;
}

body {
  scrollbar-width: none;
  background-color: var(--main);
  color: var(--main-text);
  overflow-x: hidden;

  user-select: none;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}

.project-page-container,
.banner-section {
  overflow-x: hidden;
}

h1 {
  font-size: 2.5rem;
  color: var(--main-text);
  z-index: 1;
}

h2 {
  font-size: 1.875rem;
  color: var(--main-text);
  z-index: 1;
}

h3 {
  font-size: 1.25rem;
  color: var(--main-text);
  z-index: 1;
  text-align: justify;
}

p {
  font-size: 1.2rem;
  text-align: justify;
  color: var(--second-text);
  z-index: 1;
}

.outlined-text {
  -webkit-text-stroke: 1px var(--main-text);
  color: transparent;
  font-size: 3.75rem;
}

.banner-section {
  display: flex;
  justify-content: center;
  align-items: space-around;
  animation: swipe var(--speed) linear infinite backwards;
}

.paused {
  animation-play-state: paused !important;
}

.banner-section .aspect-square::before {
  content: attr(data-content);
  position: absolute;
  bottom: 0%;
  transform: translateY(0%);
  opacity: 0;
  border: solid 2px var(--my-blue);
  border-radius: 9999px 9999px 9999px 9999px;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
  width: auto;
  height: auto;
  white-space: nowrap;
  font-size: 1rem;
  color: var(--main-text);
  padding-left: 1rem;
  padding-right: 1rem;
}

.banner-section .aspect-square:hover::before {
  transform: translateY(130%);
  opacity: 1;
}

.banner-section .aspect-square:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.description {
  text-align: center;
  padding: 0.5rem;
}

.title {
  text-align: center;
  padding: 0.5rem;
  background: none;
}

.project-card-img {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.fulldiv:hover > img,
.fulldiv:hover > div {
  opacity: 1;
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

@keyframes swipe {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100%);
  }
}

.previous {
  color: var(--main-text);
  font-size: 1.25rem;
  font-weight: 600;
}

.previous::before {
  margin-left: auto;
}

.previous::after,
.previous::before {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--my-green);
  display: block;
  transition: 0.5s;
}

.previous:hover::before,
.previous:hover::after {
  width: 100%;
}

@keyframes ball_path {
  0% {
    transform: translate(0%, -450%);
  }

  1% {
    transform: translate(32%, -449.5%);
  }

  2% {
    transform: translate(65%, -448%);
  }

  3% {
    transform: translate(97%, -446%);
  }

  4% {
    transform: translate(129%, -442%);
  }

  5% {
    transform: translate(162%, -438%);
  }

  6% {
    transform: translate(194%, -432%);
  }

  7% {
    transform: translate(226%, -426%);
  }

  8% {
    transform: translate(258%, -419%);
  }

  9% {
    transform: translate(291%, -410%);
  }

  10% {
    transform: translate(323%, -401%);
  }

  11% {
    transform: translate(355%, -390%);
  }

  12% {
    transform: translate(388%, -379%);
  }

  13% {
    transform: translate(420%, -367%);
  }

  14% {
    transform: translate(452%, -354%);
  }

  15% {
    transform: translate(485%, -339%);
  }

  16% {
    transform: translate(517%, -324%);
  }

  17% {
    transform: translate(549%, -308%);
  }

  18% {
    transform: translate(581%, -291%);
  }

  19% {
    transform: translate(614%, -272%);
  }

  20% {
    transform: translate(646%, -253%);
  }

  21% {
    transform: translate(678%, -233%);
  }

  22% {
    transform: translate(711%, -212%);
  }

  23% {
    transform: translate(743%, -190%);
  }

  24% {
    transform: translate(775%, -167%);
  }

  25% {
    transform: translate(808%, -143%);
  }

  26% {
    transform: translate(840%, -117%);
  }

  27% {
    transform: translate(872%, -91%);
  }

  28% {
    transform: translate(904%, -64%);
  }

  29% {
    transform: translate(937%, -36%);
  }

  30% {
    transform: translate(969%, -7%);
  }

  31% {
    transform: translate(1001%, 23);
  }

  32% {
    transform: translate(1034%, 54%);
  }

  33% {
    transform: translate(1066%, 86%);
  }

  34% {
    transform: translate(1098%, 119%);
  }

  35% {
    transform: translate(1130%, 153%);
  }

  36% {
    transform: translate(1163%, 188%);
  }

  37% {
    transform: translate(1195%, 224%);
  }

  38% {
    transform: translate(1227%, 260%);
  }

  39% {
    transform: translate(1260%, 298%);
  }

  40% {
    transform: translate(1292%, 337%);
  }

  41% {
    transform: translate(1324%, 377%);
  }

  42% {
    transform: translate(1357%, 418%);
  }

  43% {
    transform: translate(1389%, 460%);
  }

  44% {
    transform: translate(1421%, 503%);
  }

  45% {
    transform: translate(1453%, 546%);
  }

  46% {
    transform: translate(1486%, 591%);
  }

  47% {
    transform: translate(1518%, 637%);
  }

  48% {
    transform: translate(1550%, 684%);
  }

  49% {
    transform: translate(1583%, 731%);
  }

  50% {
    transform: translate(1615%, 780%);
  }

  51% {
    transform: translate(1647%, 749%);
  }

  52% {
    transform: translate(1680%, 719%);
  }

  53% {
    transform: translate(1712%, 689%);
  }

  54% {
    transform: translate(1744%, 660%);
  }

  55% {
    transform: translate(1776%, 632%);
  }

  56% {
    transform: translate(1809%, 604%);
  }

  57% {
    transform: translate(1841%, 577%);
  }

  58% {
    transform: translate(1873%, 550%);
  }

  59% {
    transform: translate(1906%, 524%);
  }

  60% {
    transform: translate(1938%, 499%);
  }

  61% {
    transform: translate(1970%, 475%);
  }

  62% {
    transform: translate(2003%, 451%);
  }

  63% {
    transform: translate(2035%, 427%);
  }

  64% {
    transform: translate(2067%, 404%);
  }

  65% {
    transform: translate(2099%, 382%);
  }

  66% {
    transform: translate(2099%, 361%);
  }

  67% {
    transform: translate(2132%, 340%);
  }

  68% {
    transform: translate(2164%, 319%);
  }

  69% {
    transform: translate(2196%, 300%);
  }

  70% {
    transform: translate(2229%, 281%);
  }

  71% {
    transform: translate(2261%, 262%);
  }

  72% {
    transform: translate(2293%, 245%);
  }

  73% {
    transform: translate(2326%, 227%);
  }

  74% {
    transform: translate(2358%, 211%);
  }

  75% {
    transform: translate(2390%, 195%);
  }

  76% {
    transform: translate(2423%, 180%);
  }

  77% {
    transform: translate(2455%, 165%);
  }

  78% {
    transform: translate(2487%, 151%);
  }

  79% {
    transform: translate(2519%, 138%);
  }

  80% {
    transform: translate(2552%, 125%);
  }

  81% {
    transform: translate(2584%, 113%);
  }

  82% {
    transform: translate(2616%, 101%);
  }

  83% {
    transform: translate(2649%, 90%);
  }

  84% {
    transform: translate(2681%, 80%);
  }

  85% {
    transform: translate(2713%, 70%);
  }

  86% {
    transform: translate(2746%, 61%);
  }

  87% {
    transform: translate(2778%, 53%);
  }

  88% {
    transform: translate(2810%, 45%);
  }

  89% {
    transform: translate(2842%, 38%);
  }

  90% {
    transform: translate(2875%, 31%);
  }

  91% {
    transform: translate(2907%, 25%);
  }

  92% {
    transform: translate(2939%, 20%);
  }

  93% {
    transform: translate(2972%, 15%);
  }

  94% {
    transform: translate(3004%, 11%);
  }

  95% {
    transform: translate(3036%, 8%);
  }

  96% {
    transform: translate(3069%, 5%);
  }

  97% {
    transform: translate(3101%, 3%);
  }

  98% {
    transform: translate(3133%, 1%);
  }

  99% {
    transform: translate(3165%, 0%) rotate(0deg);
  }

  100% {
    transform: translate(3230%, 0%) rotate(45deg);
  }
}

.ball {
  position: relative;
  top: 50%;
  background: #dfff4f;
  border-radius: 50%;
  overflow: hidden;
  height: 2.5rem;
  width: 2.5rem;
  animation: ball_path 1s ease-out both;
}

.ball:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-sizing: border-box;
  background: transparent;
  border: 5px solid var(--main-text);
  left: -65%;
}

.ball:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-sizing: border-box;
  background: transparent;
  border: 5px solid var(--main-text);
  right: -65%;
}

.btn_federer {
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  z-index: 4;
  transform: rotate(30deg);
  color: var(--main-text);
  background-color: var(--my-green);
}

.btn_federer:active {
  transform: scale(0.86);
}

.btn_federer:before,
.btn_federer:after {
  position: absolute;
  content: "";
  width: 100%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.btn_federer:hover:before {
  top: -70%;
  background-size: 20% 20%, 40% 40%, 30% 30%, 40% 40%, 36% 36%, 20% 20%, 30% 30%,
    20% 20%, 36% 36%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
  background-image: radial-gradient(circle, var(--my-blue) 20%, transparent 20%),
    radial-gradient(
      circle,
      transparent 20%,
      var(--my-blue) 20%,
      transparent 30%
    ),
    radial-gradient(circle, var(--my-blue) 20%, transparent 20%),
    radial-gradient(circle, var(--my-blue) 20%, transparent 20%),
    radial-gradient(
      circle,
      transparent 10%,
      var(--my-blue) 15%,
      transparent 20%
    ),
    radial-gradient(circle, var(--my-blue) 20%, transparent 20%),
    radial-gradient(circle, var(--my-blue) 20%, transparent 20%),
    radial-gradient(circle, var(--my-blue) 20%, transparent 20%),
    radial-gradient(circle, var(--my-blue) 20%, transparent 20%);
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.btn_federer:hover::after {
  bottom: -70%;
  background-size: 30% 30%, 40% 40%, 36% 36%, 40% 40%, 30% 30%, 40% 40%, 36% 36%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
  background-image: radial-gradient(circle, var(--my-blue) 20%, transparent 20%),
    radial-gradient(circle, var(--my-blue) 20%, transparent 20%),
    radial-gradient(
      circle,
      transparent 10%,
      var(--my-blue) 15%,
      transparent 20%
    ),
    radial-gradient(circle, var(--my-blue) 20%, transparent 20%),
    radial-gradient(circle, var(--my-blue) 20%, transparent 20%),
    radial-gradient(circle, var(--my-blue) 20%, transparent 20%),
    radial-gradient(circle, var(--my-blue) 20%, transparent 20%);
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes endBtnFederer_pt1 {
  0% {
    transform: scale(1) rotate(30deg);
  }

  25% {
    transform: scale(1.3) rotate(0deg);
  }

  100% {
    transform: scale(0) rotate(180deg);
  }
}
